@font-face {
    font-family: "myFont";
    src: url(./Italianno-Regular.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "myFont2" ;
    src: url(./Cafe\ Francoise_D.otf);
    font-weight: 600;
    font-style: normal;
}


.imgOne{
    position: absolute;
    border: 2px solid rgba(1, 20, 0, 0.411);
    border-radius: 3%;
    padding: 25px;
    width: 200px;
    height: 200px;
    background-image: url(./img/italianDesert.jpg);
    background-size: 100%;
    overflow: hidden;
    z-index: 1;


    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    


}
.imgTwo{
    position: absolute;
    order: 5;
    border: 2px solid black;
    border-radius: 3%;
    margin-left: 25%;
    height: 150px;
    width: 250px;
    bottom: 10%;
    background-image: url(./img/pizza.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container {
    margin: -15px;
    background-image: url(./img/italianImg.jpg);
    background-size: cover;
    font-family: "myFont2";
    
    background-repeat: no-repeat;
    background-position-x: fixed;
    background-position-y: fixed;
}





.contentPage1{
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    width: 50%;
    height: 125vh;
    background-color: #e2d9c59f;
    z-index: 0;
    bottom: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.viewScreen {
    display: flex;
    text-align: center;
    width: 100%;
    height: 65%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    
}

.textPageOne{
    order: 1;
    display: inline;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    float: left;
    border-radius: 2%;
    max-height: 10rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.paraPageOne{
    padding: 5px;
    text-align: right;
    position: inherit;
    font-size: 16px;
    word-spacing: 2px;
}


.titleOnPageOne{
    font-family: "myFont";
    font-size: 80px;
    font-weight: bolder;

}

.header{
    z-index: 25;
    display: flex;
    top:  -5px;
    position: fixed;
    left: -5px;
    width: 100%;
    height: 125px;
    border-radius: 2%;
    z-index: 2;
    background-color: #646262b6;
    box-shadow: rgb(12, 51, 0) 0px 20px 30px -10px;
    
}

.logo{
    position: absolute;
    top: 10px;
    margin-left: 25px;
    border: 2px solid black;
    border-radius: 25%;
    width: 100px;
    height: 100px;
    background-image: url("./img/logo.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position-x: 50% ;
    background-position-y: 50% ;

}



.navTab{
    
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
    margin-top: 74px;
    gap: 25px;
    z-index: 25;
}
.navTab > button {

    width: 50px;
    height: 50px;
    border: 1px solid  rgb(255, 255, 255);
    
}

.navTab > div{
    position: relative;
    z-index: 25;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;text-align: center;
    font-size: 20px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom: 0px solid rgb(255, 255, 255);

    

}

.homeBtn, .contactBtn, .menuBtn{

    display: flex;
    position: absolute;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /*border-style: none;*/
    width: 80px;
    height: 60px;
    background: rgba(0, 0, 0, 0);
    border-style: none;

}
.menuBtn{
    

}
.contactBtn{
    

}

.navHome{
    width: 75px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(5, 145, 0);
    color: white;
}



.navMenu{
    width: 75px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}


.navContact{
    width: 75px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(179, 0, 0);
    color: white;
}





.footer{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    width: 100%;
    height: 3rem;
    font-size: 12px;
    background-color: #262906;
    z-index: 3;
    border-top-left-radius: 10%;
    
    gap: 150px;

}

.footerAdres{
    width: 250px;
    height: 25px;
    flex-direction: row-reverse;
    
}

.footerPhone{
    width: 250px;
    height: 25px;
    flex-direction: row-reverse;


}